/* header ===================================================================== */
header{
    background-color: white;
    justify-content: center;
    height: 60px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.page_name_container{
    user-select: none;
    cursor: pointer;
}
.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_login_btn,.nav_logout_btn{
    width: 80px;
    height: 40px;
    border:none;
    background-color: var(--main_color);    
    color: white;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 1rem;
}
.nav_logout_btn{
    font-size: 0.7rem;
}
nav{
    display: flex;
    align-items: center;
}
.user_info_btn{
    display: flex;
    align-items: center;
    border: none;
    font-size: 1rem;
    margin-left: 10px;
}
.open_user_info_icon{
    width: 10px;
    height: 10px;
}
/* notification ================================================ */
.notification_btn_container{
    position: relative;
}
.notification_btn{
    border: none;
    width: 40px;
    height: 40px;
    font-size: 2rem;
}
.notification_container{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 20px));
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 240px;
    height: 400px;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}
.new_notification_logo{
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: 4px;
    top: 4px;
    background-color: red;
}
.close_notification_btn_container{
    display: flex;
    align-self: flex-end;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}
.close_notification_btn{
    border: none;
}
.notification_item{
    display: flex;
    width: calc(100% - 10px);
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 10px;
}
.notification_item_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 320px;
    width: calc(100% - 4px);
}
.notification_type_contents_container{
    width: calc(100% - 4px);
    font-size: 0.6rem;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 10px;
}
.notification_contents_container{
    width: calc(100% - 20px);
    background-color: white;
    font-size: 0.8rem;
    margin-bottom: 4px;
    border-radius: 6px;
    padding-left: 10px;
}
.notification_user{
    font-weight: bolder;
}
.notification_all_remove_btn{
    position: absolute;
    bottom: 0;  
    border: none;
    background-color: var(--main_color);
    color: white;
    margin-bottom: 10px;
    width: calc(100% - 10px);
    height: 30px;
}


@media (min-width:0px) and (max-width: 600px) {
    nav{
        margin-right: 10px;
    }
    .page_name_container{
        margin-left: 10px;
    }
}
@media (min-width:600px) and (max-width: 1000px) {
    .page_name_container{
        margin-left: 10px;
    }
    nav{
        margin-right: 10px;
    }
}