/* post input ============================================================== */
.write_post_container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
/* .write_post_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.title_input_container{
    width: calc(100% - 40px);
    margin-top: 20px;
    font-size: 2rem;
}
.post_title_input{
    width: 100%;
    border: none;
    height: 50px;
    font-size: 2rem;
    background-color: #eee;
    padding-left: 10px;
}
.contents_input_container{
    width: calc(100% - 40px);
}
.post_contents_input{
    width: 100%;
    height: 120px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #eee;
    border-radius: 6px;
}
.post_img_input_container{  
    width: calc(100% - 40px);
}
.post_img_input{
    border: none;
}   
.submit_btn_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.post_submit_btn{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 100px;
    background-color: var(--main_color);   
    font-size: 1rem;
    border: none;
    color: white;
    font-weight: bolder;
}
/* search container =============================================== */
.board_search_container{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    height: 60px;
    border-radius: 12px;
    background: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.board_search_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 0;
}
.board_search_input_container{
    position: relative;
    height: 40px;
    width: calc(100% - 80px);
    background-color: #eee;
    border-radius: 6px;
}
.board_search_input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border: none;
}
.board_search_submit_btn_container{
    position: relative;
    width: 40px;
    height: 40px;
}
.board_search_submit_btn{
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--main_color);
    color: white;
    font-weight: bolder;
}

/* cur search =========================================================== */
.cur_search_container{
    position: absolute;
    bottom: 0;  
    left: 0;
    transform: translate(0, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.cur_search_item{
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    height: 30px;
    cursor: pointer;
    padding-left: 20px;
    user-select: none;
}
.cur_search_item:hover{
    background-color: #eee;
}
/* post ============================================================ */
.board_section{
    margin-top: 40px;
}
.board_container{
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    min-height: 600px;
    margin-bottom: 20px;
}
.post_column_name_container{
    width: 100%;
}
.post_column_name_container{
    display: flex;
    align-items: center;
    font-weight: bolder;
    height: 40px;
    border-bottom: 2px solid grey;
}
.post_item{
    display: flex;
    border-bottom: 2px solid #eee;
    cursor: pointer;
}
.post_item:hover{
    background-color: #eee; 
}
.post_idx_container,.post_item_idx_container{
    text-align: center;
    width: 10%;
}
.post_title_container,.post_item_title_container{
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}
.post_author_container,.post_item_author_container{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
    width: 15%;
}
.post_date_container,.post_item_date_container{
    text-align: center;   
    width: 15%;
    min-width: 90px;
}
.post_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}
.post_item{
    display: flex;
    align-items: center;    
    width: 100%;
    height: 30px;
}
.nothing_post_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 556px;
}
.nothing_post_container img{
    width: 40%;
}
@media (min-width:0px) and (max-width: 600px) {
    .page_name_container{
        margin-left: 10px;
    }
    .post_item{
        height: unset;
        flex-wrap: wrap;    
        height: 60px;
    }
    .post_idx_container,.post_item_idx_container{
        text-align: center;
        width: 20%;
    }
    .post_title_container,.post_item_title_container{
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;    
    }
    .post_author_container{
        display: none;
    }
    .post_item_author_container{
        padding-left: 20px;
        overflow: unset;
        text-overflow: unset;
        white-space: unset;    
        width: fit-content;
    }
    .post_date_container{
        display: none;
    }
    .post_item_date_container{
        font-size: 0.8rem;
        text-align: center;   
        min-width: 90px;
        width: fit-content;
    }
}
@media (min-width:600px) and (max-width: 1000px) {
    .page_name_container{
        margin-left: 10px;
    }
}