/* 변수================================================================= */
:root{
    --font_color : #222222;
    --main_color : #2C69D8;
    --background_color : white;
    --background_color2 : #EEF0F3;
    --red_btn_color : #EE695E;
    --green_btn_color : #61C253;
    --main_font : 'Nanum Gothic', sans-serif;
    --main_border_radius : 4px;
}

/* 태그================================================================= */
body{
    font-family: var(--main_font);
    color: var(--font_color);
    background-color: #eee;
    margin: 0%;
}
h1{
    margin: 0%;
}
input,button{
    border: none;
    background: none;
    border-radius: var(--main_border_radius);
    border: 2px solid #222222;
    color: var(--font_color);
}
input:focus{
    outline: none;
}
button{
    cursor: pointer;
}
textarea{
    resize: none;
    font-family: var(--main_font);
}
textarea:focus{
    outline: none;
}

header,main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
header>div,main>section>div{
    width: 100%;
    max-width: 1000px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
label{
    cursor: pointer;
    user-select: none;
}
select:focus{
    outline: none;
}

/* 클래스================================================================= */
.wrap{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.title{
    font-size: 60px;
    margin-top: 30px;
}
.hidden{
    display: none;
}